* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-tomato {
  color: rgb(252, 63, 30);
}

.margin {
  margin: 0 auto;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.nav-1 {
  flex-direction: column;
  text-align: center;
  background-color: #d6584a;
}

.none {
  display: none;
}

.nav-icons {
  margin-left: 34%;
  font-size: 18px;
}

.link-color:hover {
  color: blue;
}

.nav_brand {
  width: 300px;
  margin: 0 auto;
}

.main_search {
  background-image: url(./images/real-estate.jpg);
  background-size: 100% 100%;
  height: 450px;
  text-align: start;
}

.search-box {
  border-radius: 5px;
  background-color: hsl(120, 6%, 41%);
  opacity: 90%;
  padding: 35px 10px;
  margin-top: 40px;
  text-align: center;
}

.search-box input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 7px 3px;
}

#btn {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 7px 3px;
  background-color: #d35648;
}

.works {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5% 0 0 12%;
  background-color: rgb(185, 185, 185);
}

.box-1 {
  background-color: #cc5144;
}

.location-img {
  width: 90px;
  border-radius: 50%;
}

.location-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.box-2 {
  background-color: grey;
}

.box-2 img {
  width: 100px;
  border-radius: 5px;
}

.box-3 {
  background-color: rgb(2, 2, 160);
}

.box-3 img {
  width: 100px;
  border-radius: 5px;
}

.footer {
  background-color: black;
}

.footer-2 {
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  width: 60px;
}

.last-footer {
  text-align: center;
}

.last-footer button {
  background-color: #6a7279;
  border: none;
}

.sub_1 {
  width: 34%;
}

footer {
  background-color: #333;
}

.last-icons {
  width: 200px;
  font-size: large;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .nav-2 {
    display: flex;
    background-color: #d6584a;
  }

  .nav_1 {
    margin: 0;
  }

  .nav-icons-2 {
    margin: 1% 0 0 20%;
  }

  .footer-1-details {
    display: flex;
    justify-content: space-between;
  }

  .footer-3 {
    display: flex;
    justify-content: space-between;
  }

  .results-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
  }

  .details {
    width: 97%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .location-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .l-img {
    width: 97%;
  }

  .location-links {
    display: flex;
    width: 350px;
    justify-content: space-between;
  }

  .l_f {
    display: flex;
  }

  .sub_1 button {
    padding: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .nav-2 {
    display: none;
  }

  .nav-3 {
    background-color: #d6584a;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  .nav_1 {
    margin-left: 3%;
    width: 320px;
  }

  .nav-icons-3 {
    font-size: 16px;
    width: 500px;
    padding: 0;
  }

  .results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
  }

  .footer_1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .footer-1 {
    padding: 0;
  }

  .footer-3 {
    padding: 0;
  }
}
